@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Raleway:wght@400;500;600&display=swap');
/* Общий стиль для всей страницы */

* {
  font-family: 'Raleway', sans-serif;
}
.auth-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

/* Логотип */
.auth-logo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 200px; /* Поднял выше */
}

/* Подзаголовок */
.auth-subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px; /* Сделал меньше */
  margin-top: 0;
  color: #4A4A4A;
}

/* Карточка формы */
.auth-box {
  width: 100%;
  max-width: 400px;
  background: #FFFFFF;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px; /* Добавил промежутки между элементами */
}

/* Заголовок формы */
.auth-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px; /* Уменьшен отступ */
  color: #000;
}

.auth-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px; /* Уменьшен отступ */
}

.auth-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E0E0E0;
  border-radius: 15px;
  padding: 16px 20px; /* Увеличим внутренние отступы */
  background: #fafafa;
  margin-bottom: 16px;
  width: 100%;
}



.auth-input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  width: 1000px;
}

.auth-input-icon {
  margin-left: 8px;
  color: #ffffff;
}

/* Кнопки */
.auth-button {
  display: flex;
  height: 54px;
  padding: 14px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 20px;
  background: var(--Main-Color-Blue, #ffffff);
  border-color: #007AFF ;
}

.auth-button-primary {
  display: flex;
  width: 10;
  height: 54px;
  padding: 14px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  
  background: var(--Main-Color-Blue, #007AFF);
}

.auth-button-primary:hover {
  background: #0051CC;
}

.auth-button-success {
  display: flex;
  width: 10;
  height: 54px;
  padding: 14px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--Main-Color-Blue, #007AFF);
}

.auth-button-secondary{
  display: flex;
  width: 10;
  height: 54px;
  padding: 14px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;

}

.code-input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 16px;
}

.code-input {
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--Secondary-Gray, #C1C1C1);
  color: var(--Main-Color-Dark, #151515);
  font-variant-numeric: lining-nums proportional-nums;

  /* Rentplace Web/Code numbers */
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 40px; /* 111.111% */
  
}

.code-input:focus {
  border-color: #007AFF;
}