
.search-bar {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 3px 10px;
  border-bottom: 1px solid #ddd;
  flex: 1;
  max-width: 400px;
  min-width: 200px;
  height: 40px;
  box-sizing: border-box;
}

.search-bar .search-icon {
  font-size: 16px;
  color: #888;
  margin-right: 6px;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding: 4px 0;
  height: 100%;
  box-sizing: border-box;
  color: var(--Main-Color-Dark, #151515);
font-variant-numeric: lining-nums proportional-nums;

 
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}